<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- <app-owner-card [owner]="this.owner"></app-owner-card> -->
    <h3>DoorBoard</h3>
    <mat-nav-list class="list-of-owner-posts">
      <a mat-list-item *ngFor="let post of posts" class="owner-post">
        <h3>{{post.message}}</h3>
      </a>
    </mat-nav-list>
  </div>
  <button mat-fab class="add-post-fab" matTooltip="Add Note" matTooltipPosition="left" routerLink="/owner/:id/posts/new">
    <mat-icon class="md-24" aria-label="Add Note">add</mat-icon>
  </button>
</div>
