<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="owner-list-title">Owners</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Everything is set to be filtered via angular for now. Probably want to change to database filtering -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput id="owner-name-input" placeholder="Filter by name" [(ngModel)]="ownerName"
              (input)="getOwnersFromServer()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Building</mat-label>
            <input matInput id="owner-building-input" placeholder="Filter by building" [(ngModel)]="ownerBuilding"
              (input)="getOwnersFromServer()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Office ID number</mat-label>
            <input matInput id="owner-officeID-input" placeholder="Filter by Office ID number"
              [(ngModel)]="ownerOfficeID" (input)="getOwnersFromServer()">
          </mat-form-field>
        </div>
        <!-- Keeping these commented for now, seem like they might be useful for formatting options later -->

        <!-- <mat-form-field class="input-field">
            <mat-label></mat-label>
            <input matInput id="owner-age-input" type="number" placeholder="Filter by age"
            min="0" max="200" [(ngModel)]="ownerAge" (input)="getOwnersFromServer()">
            <mat-hint>Filtered on Server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Role</mat-label>
            <mat-select (selectionChange)="getOwnersFromServer()" [(ngModel)]="ownerRole" id="owner-role-select">
              <mat-option>--</mat-option>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="editor">Editor</mat-option>
              <mat-option value="viewer">Viewer</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div> -->

        <br>
        <!-- <div fxLayout="row wrap" fxLayoutGap="10px">
          <label>View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" id="view-type-radio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div> -->

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="5" *ngIf="serverFilteredOwners; else ownersError">

    <!-- Card grid view
    <div fxLayout="row wrap" fxLayoutGap="10px" class="owner-cards-container">
      <app-owner-card simple="true" *ngFor="let owner of filteredOwners" class="owner-card" [owner]="owner"
        fxFlex="1 1 280px"></app-owner-card>
    </div> -->
    <!--also keeping this for later in case we want multiple views-->
          <mat-nav-list class="owner-nav-list">
            <h3 mat-subheader>Owners</h3>
            <a mat-list-item *ngFor="let owner of this.filteredOwners" [routerLink]="['/owners', owner._id]" class="owner-list-item">

              <mat-list-item> <h3 matLine class="owner-list-name"> {{this.owner.name}} </h3></mat-list-item>
                <mat-action-list>
                <mat-list-item><button mat-button *ngIf="this.simple" [routerLink]="['/owner', this.owner._id, 'notes']">VIEW DOORBOARD</button>
                <mat-divider class="vertical-divider" [vertical]="true"></mat-divider>
                </mat-list-item>
                </mat-action-list>
              <mat-list-item> <p matLine class="owner-list-building"> {{this.owner.building}} </p></mat-list-item>
              <mat-list-item>  <p matLine class="owner-list-officeID"> {{this.owner.officeID }} </p></mat-list-item>
            </a>
          </mat-nav-list>
  </div>
</div>

<!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
<ng-template #ownersError>
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="owner-error">
    <mat-error>
      There was a problem loading the owners. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again or start the server.
    </mat-error>
  </div>
</ng-template>

<button mat-fab class="add-owner-fab" matTooltip="Add Owner" matTooltipPosition="left" routerLink="/owners/new">
  <mat-icon class="md-24" aria-label="Add Owner">add</mat-icon>
</button>
