<mat-card class="owner-card" *ngIf="this.owner">
  <mat-card-header>
    <mat-card-title class="owner-card-name">{{ this.owner.name }}</mat-card-title>
    <mat-card-subtitle class="owner-card-building">{{ this.owner.building }}</mat-card-subtitle>
    <mat-card-subtitle class="owner-card-officeID">{{ this.owner.officeID }}</mat-card-subtitle>
    <mat-card-subtitle class="owner-card-email">{{this.owner.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    Need to change this router link later so that the person get's directed to the owner's doorboard
    <button mat-button *ngIf="this.simple" [routerLink]="['/owner', this.owner._id, 'notes']">VIEW DOORBOARD</button>
  </mat-card-actions>
</mat-card>
