
<div class="doorboard-background" fxFill>
    <!--Seems to be throwing error: "cannot read name of undefined once or twice while the page is loading, probably want to refactor this at some point-->
    <mat-card class="owner-card" *ngIf="owner">
      <h3>{{this.owner.name}}</h3>
    </mat-card>
    <div class="add-button-container">
      <!--This is where we add our new notes. The owner ID is automatically set for each new note to match the id of the owner-->
      <button mat-raised-button class="add-note-button" matTooltip="Add Note" matTooltipPosition="below"
        routerLink="/owner/{{this.id}}/notes/new">Add New Note
      </button>
    </div>


    <div fxLayout="row wrap" fxLayoutGap="30px" class="note-cards-container">
      <app-note-card simple="true" *ngFor="let note of notes" class="note-card" [note]="note"
        fxFlex="1 1 280px"></app-note-card>
    </div>
    <!-- This is where we are looping through the notes that belong to each owner-->
</div>

    <!-- <mat-list-item *ngFor="let note of notes " [class.selected]="note === selectedNote" (click)="onSelect(note)">
    <span class="badge">{{note._id}}</span>{{note.message}}

    </mat-list-item>> -->
