.owner-note{
  font-size: 1.5em;
  padding-bottom: 2rem;
  overflow-wrap: break-word;
  padding-top: 5px;
}
.add-button-container{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.list-of-notes{
  display: inline-block;
  align-content: center;
  overflow-wrap: break-word;
}
.list-of-owner-notes{
  align-items: center;
  align-content: center;
  overflow-wrap: break-word;
}
h3{
  font-size: 1.8em;
  text-align: center;
}
.list-of-notes{
  display: inline-block;
  align-content: center;
  overflow-wrap: break-word;
}
.note-card{
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  width: 20%;
  height: 100%;
  position: relative;
  align-content: center;
  text-align: left;
  overflow-wrap: break-word;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.owner-card{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
// entire container/note-it note
.doorboard-background{
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}
.add-note-button{
  background-color: rgb(218, 247, 166);
  color: black;
  margin-right: 10px;
}
.return-button{
  background-color: rgb(247, 203, 166);
}
.message-content{
  overflow-wrap: break-word;
}

.timestamp{
  color: black;
  text-align: end;
}

.message{
  color: black;
}
