
    <!--Each message is its own mat-card-->
        <mat-card class="note-card" *ngIf="this.note">
          <mat-card-content id="noteCardTimestamp" align="end">
            {{ this.note.timestamp}}
          </mat-card-content>

          <mat-card-content>
            {{ this.note.message}}
          </mat-card-content>

         <!-- Time stamp needs to be in here when it is implemented-->

        <mat-card-actions align="start">
          <p>
            <span *ngIf="confirmDelete">
            <P>Are you sure you want to delete?</P>
            <button class="btn-danger" (click)="deleteNoteFromServer()" onclick="history.go(0)"  >Yes</button>
            <button class="btn-primary" (click)="confirmDelete=false">No</button>
            </span>

            <button *ngIf="!confirmDelete" (click)="confirmDelete=true">Delete Note</button>
        </p>
        </mat-card-actions>
        </mat-card>
